@import '_colors.css';
@import '_sizes.css';
@import '_mixins.css';

.app-bar {
  color: $color-text-primary;
  background-color: $color-white;
  box-shadow: 0 2px 4px $app-bar-shadow-color;

  @mixin header-padding;
}
