@import '_colors.css';
@import '_sizes.css';

.app-bar {
  padding: 1.5rem $app-bap-general-padding;
  color: $color-text-primary;
  background-color: $color-white;
  box-shadow: 0 2px 4px $app-bar-shadow-color;

  @media (max-width: $screenTabletMax) {
    padding: 1.5rem $app-bap-general-tablet-padding;
  }

  @media (max-width: $screenTabletMax) {
    padding: 1.5rem $app-bap-general-mobile-padding;
  }
}
