@import '_z-index.css';
@import '_fonts.css';

.main-menu {
  display: flex;
  flex-direction: row;
  font-size: $medium-font-size;
  z-index: $z-index-main-menu;

  &__item {
    font-weight: 500;
    margin-right: 2.5rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
