@import '_z-index.css';
@import '_fonts.css';

.main-menu {
  z-index: $z-index-main-menu;
  display: flex;
  flex-direction: row;
  font-size: $medium-font-size;

  &__item {
    margin-right: 2.5rem;
    font-weight: 500;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
