@import '_colors';
@import '_fonts';
@import '_sizes.css';

.news-carousel {
  min-width: 20rem;
  max-width: 60rem;
  height: 50%;



  &__content-heading {
    margin-top: 0.87rem;
    margin-bottom: 0.87rem;
    color: $color-text-secondary;
    font-weight: 500;
    font-size: $medium-font-size;
  }

  &__content-subtext {
    color: $color-text-secondary;
    font-weight: 400;
    font-size: $small-font-size;
  }

  &__content-button-container {
    display: flex;
    justify-content: flex-end;
  }

  &__content-button {
    margin-top: 0.75rem;
    padding: 0.5rem 1.5rem;
    color: $color-background-button;
    font-size: $regular-font-size;
  }
}
