/* example */
@import '_colors.css';

.button {
    align-items: center;
    background: none;
    border: 1px solid $color-blue-haze;
    border-radius: 4px;
    display: flex;
    height: 40px;
    justify-content: center;
    outline: none;
    padding: 0 20px;
    transition: 50ms ease-in-out;
    user-select: none;

    &.button-icon-position {
        &--left {
            .button__icon {
                margin: 2px 8px 0 0;
            }
        }

        &--center {
            flex-direction: column;

            .button__icon {
                position: absolute;
            }
        }

        &--right {
            flex-direction: row-reverse;

            .button__icon {
                margin: 2px 0 0 8px;
            }
        }
    }

    &:hover:not(.button--without-hover),
    &--focused {
        background: $color-cerulean-blue;
        border-color: $color-cerulean-blue;
        color: $color-white;
        cursor: pointer;
    }

    &:disabled {
        background: none;
        border-color: $color-blue-haze;
        color: $color-overlay;
        cursor: not-allowed;
        pointer-events: none;
    }

    &--danger {
        border: 1px solid $color-crimson;
        color: $color-crimson;

        &:hover:not(.button--without-hover),
        &.button--focused {
            background: $color-crimson;
            border-color: $color-crimson;
            color: $color-white;
        }

        &:disabled {
            background: none;
            border: none;
        }
    }

    &--primary {
        background: $color-cerulean-blue;
        border: none;
        color: $color-white;

        &:hover:not(.button--without-hover) {
            box-shadow: 0 4px 4px $primary-button-shadow-color;
        }

        &:disabled {
            background: $color-button-primary-disabled-bg;
            box-shadow: none;
            color: $color-button-primary-disabled-text;
        }
    }
}
