@import '_colors.css';
@import '_fonts.css';

@define-mixin outline-styles {
  color: $color-text-button-secondary;
  background-color: transparent;
  border: 1px solid $color-text-button-secondary;
}

@define-mixin contained-styles {
  color: $color-white;
  background-color: $color-text-button-secondary;
}

@define-mixin text-styles {
  color: $color-text-button-primary;
  background-color: transparent;
}

@define-mixin warning-styles {
  color: $color-white;
  background-color: $color-background-button-warning;
  border-color: $color-background-button-warning;
}

@define-mixin warning-outlined-styles {
  color: $color-text-button-warning;
  background-color: transparent;
}

.button {
  padding: 0.625rem 1rem;
  font-size: $medium-font-size;
  line-height: 20px;
  letter-spacing: 0.005em;
  text-transform: capitalize;
  border-radius: 8px;
  outline: none;
  box-shadow: none;
  user-select: none;

  &--small {
    padding: 0.25rem 0.4rem;
    font-size: $smallest-font-size;
    line-height: 18px;
  }

  &--large {
    padding: 1rem 1.25rem;
    font-size: $big-font-size;
    line-height: 22px;
  }

  &:hover:not(.button--no-hover) {
    color: $color-white;
    background-color: $color-background-button-hover;
    border-color: $color-background-button-hover;
  }

  &:focus {
    color: $color-white;
    background-color: $color-background-button-hover;
    border-color: $color-background-button-hover;
  }

  &--contained {
    @mixin contained-styles;

    &.button--no-hover {
      &:hover {
        @mixin contained-styles;
      }
    }
  }

  &--outlined {
    @mixin outline-styles;

    &:hover:not(.button--no-hover) {
      color: $color-text-button-secondary;
      background-color: $color-background-button-outlined-hover;
      border-color: $color-text-button-secondary;
    }

    &.button--no-hover {
      &:hover {
        @mixin outline-styles;
      }
    }
  }

  &--warning {
    @mixin warning-styles;

    &.button--no-hover {
      &:hover {
        @mixin warning-styles;
      }
    }

    &:hover:not(.button--no-hover) {
      background-color: $color-background-button-warning-hover;
      border-color: $color-background-button-warning-hover;
    }

    &.button--outlined {
      @mixin warning-outlined-styles;

      &:hover:not(.button--no-hover) {
        background-color: $color-background-button-outlined-hover;
        border-color: $color-text-button-warning;
      }

      &.button--no-hover {
        &:hover {
          @mixin warning-outlined-styles;
        }
      }
    }
  }

  &--text {
    @mixin text-styles;

    &:hover:not(.button--no-hover) {
      color: $color-white;
      background-color: $color-text-button-secondary;
      border-color: $color-text-button-secondary;
    }

    &.button--no-hover {
      &:hover {
        @mixin text-styles;
      }
    }
  }

  &:disabled {
    background: none;
    cursor: not-allowed;
    pointer-events: none;
  }
}
