/* example */
@import '_colors.css';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 20px;
  background: none;
  border: 1px solid $color-blue-haze;
  border-radius: 4px;
  outline: none;
  transition: 50ms ease-in-out;
  user-select: none;

  &.button-icon-position {
    &--left {
      .button__icon {
        margin: 2px 8px 0 0;
      }
    }

    &--center {
      flex-direction: column;

      .button__icon {
        position: absolute;
      }
    }

    &--right {
      flex-direction: row-reverse;

      .button__icon {
        margin: 2px 0 0 8px;
      }
    }
  }

  &:hover:not(.button--without-hover),
  &--focused {
    color: $color-white;
    background: $color-cerulean-blue;
    border-color: $color-cerulean-blue;
    cursor: pointer;
  }

  &:disabled {
    color: $color-overlay;
    background: none;
    border-color: $color-blue-haze;
    cursor: not-allowed;
    pointer-events: none;
  }

  &--danger {
    color: $color-crimson;
    border: 1px solid $color-crimson;

    &:hover:not(.button--without-hover),
    &.button--focused {
      color: $color-white;
      background: $color-crimson;
      border-color: $color-crimson;
    }

    &:disabled {
      background: none;
      border: none;
    }
  }

  &--primary {
    color: $color-white;
    background: $color-cerulean-blue;
    border: none;

    &:hover:not(.button--without-hover) {
      box-shadow: 0 4px 4px $primary-button-shadow-color;
    }

    &:disabled {
      color: $color-button-primary-disabled-text;
      background: $color-button-primary-disabled-bg;
      box-shadow: none;
    }
  }
}
