@import '_colors.css';

$main-font-family: 'Roboto', sans-serif;
$monospace-font-family: 'RobotoMono', monospace;

$smallest-font-size: 0.75rem; /* 12px */
$small-font-size: 0.875rem; /* 14px */
$regular-font-size: 1rem; /* 16px */
$medium-font-size: 1.125rem; /* 18px */
$big-font-size: 1.25rem; /* 20px */
$biggest-font-size: 1.5rem; /* 24px */
$main-block-font-size: 1.75rem; /* 28px */

/* typography */

@define-mixin block-header {
  color: $color-text-secondary;
  font-weight: 500;
  font-size: $biggest-font-size;
}

@define-mixin main-block-header {
  color: $color-text-secondary;
  font-weight: 300;
  font-size: $main-block-font-size;
}
