@import './colors';

$main-font-family: 'Roboto', sans-serif;
$monospace-font-family: 'RobotoMono', monospace;
$regular-font-weight: normal;

$smallest-font-size: 0.75rem;
$small-font-size: 0.875rem;
$regular-font-size: 1rem;
$medium-font-size: 1.125rem;
$big-font-size: 1.25rem;
$biggest-font-size: 1.5rem;

$modal-header-font-size: 22px;

@mixin base-header-font($color, $line-height: 1.17, $font-size: $biggest-font-size, $letter-spacing: normal) {
    color: $color;
    font-family: $main-font-family;
    font-size: $font-size;
    font-style: normal;
    font-weight: 500;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
}

@mixin menu-header-font() {
    @include base-header-font($color-bluewood);
    @content;
}
