$app-bap-general-padding: 0;
$app-bap-general-tablet-padding: 2.5rem;
$app-bap-general-mobile-padding: 1rem;

/* breakpoints */
$screenMobileMin: 320px;
$screenMobileMax: 767px;
$screenTabletMin: 768px;
$screenTabletMax: 1024px;
$screenLaptopMin: 1025px;
$screenLaptopMax: 1279px;
$screenDesktopMin: 1280px;

/* sizes */

$sidebarDesktopMaxWidth: 25.625rem;
