$app-bap-general-padding: 5rem;
$app-bap-general-tablet-padding: 2.5rem;
$app-bap-general-mobile-padding: 1.25rem;

/* sizes */
$screenMobileMin: 320px;
$screenMobileMax: 767px;
$screenTabletMin: 768px;
$screenTabletMax: 1024px;
$screenLaptopMin: 1025px;
$screenLaptopMax: 1279px;
$screenDesktopMin: 1280px;
