$z-index-minimal: 50 !default;
$z-index-main-menu: 60 !default;
$z-index-header: 70 !default;
$z-index-popup-menu: 100 !default;
$z-index-modal-overlay: 1000 !default;
$z-index-modal-container: 1100 !default;
$z-index-notifications-root: 1200 !default;
$z-index-sortable-clone: 1300 !default;
$z-index-portal: 10000 !default;
