@import '_z-index.css';
@import '_fonts.css';
@import '_sizes.css';

.horizontal-menu {
  z-index: $z-index-main-menu;
  display: flex;
  flex-direction: row;
  padding-top: 0;
  padding-bottom: 0;
  font-size: $medium-font-size;

  &__tab {
    margin-top: 1rem;
    padding-top: 0.5rem;
  }
}
