@import '_colors.css';
@import '_sizes.css';

.base-layout {
  display: flex;
  flex-direction: column;
  min-width: $screenMobileMin;
  min-height: 100vh;

  &__main-content {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @media (max-width: $screenMobileMax) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__paper {
    width: 69%;
    padding: 1.5rem;
  }

  &__footer {
    margin-top: auto;
  }
}
