@import '_colors.css';

.base-layout {
  &__main-content {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__paper {
    width: 69%;
    padding: 1.5rem;
  }
}
