@import '_colors.css';
@import '_fonts.css';
@import '_sizes.css';

.main-page-actions {
  padding: 1rem;

  &__heading {
    margin-bottom: 1rem;

    @mixin main-block-header;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    flex: 1 1 auto;
    width: auto;
    max-width: calc(25% - 1rem);

    @media (max-width: $screenMobileMax) {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
    }
  }

  &__column {
    flex: 1 1 auto;
    max-width: calc(50% - 0.5rem);
  }
}
