@import '_sizes.css';
@import '_fonts.css';
@import '_z-index.css';

.main-header {
  z-index: $z-index-header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: $medium-font-size;

  &__left-content {
    display: flex;
    align-items: center;
  }

  &__menu-button {
    display: none;
    margin-right: 1.25rem;

    @media (max-width: $screenTabletMax) {
      display: block;
    }
  }

  &__logo {
    width: 13.75rem;
    height: 4.375rem;
  }

  &__right-content {
    display: flex;
    align-items: center;

    @media (max-width: $screenTabletMax) {
      display: none;
    }
  }

  &__content-item {
    margin-right: 3.125rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
