@import '_sizes.css';
@import '_fonts.css';
@import '_z-index.css';

.main-header {
  z-index: $z-index-header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: $medium-font-size;

  &__logo {
    width: 13.75rem;
    height: 4.375rem;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__content-item {
    margin-right: 3.125rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
